snippet desc
	describe('$1', () => {
		$0
	});

snippet it
	it('$1', () => {
		$0
	});

snippet fn
	() => {$0}

snippet afn
	async () => {$0}

snippet mountComponent
	function mountComponent(overrides = {}) {
		return mount(
			<$0
			/>
		);
	}

snippet ia
	import $1 from '@root/agents.joinroot.com/src/$0';
