tags
gems.tags
.nrepl-port
.DS_Store
.classpath
.project
.metadata/
eclimd.log

vim/vim.symlink/.netrwhist
vim/vim.symlink/bundle
vim/vim.symlink/plugged
vim/vim.symlink/doc/tags-ja
vim/vim.symlink/plugin/autotag.pyc
vim/vim.symlink/.netrwhist

config/nvim.symlink/.netrwhist
config/nvim.symlink/bundle
config/nvim.symlink/plugged
config/nvim.symlink/doc/tags-ja
config/nvim.symlink/plugin/autotag.pyc
config/nvim.symlink/.netrwhist
config/nvim.symlink/.init.vim-rplugin~

emacs/emacs.d.symlink/elpa
emacs/emacs.d.symlink/places