vim/.vim/plugged/*

nvim/.config/nvim/plugged/*
nvim/.config/nvim/lazy-lock.json

tmux/.tmux/plugins
tmux/.config/tmux/plugins
!tmux/.config/tmux/plugins/tpm

zsh/.config/tmuxinator/*.yml

.DS_Store
.netrwhist
.git
Brewfile.lock.json
