[submodule ".zsh/plugins/pure"]
	path = .zsh/plugins/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".config/nvim/start/packer.nvim"]
	path = .config/nvim/start/packer.nvim
	url = git@github.com:wbthomason/packer.nvim.git
