snippet errp "err panic"
if err != nil {
	panic(err)
}
endsnippet

snippet pln "println"
fmt.Println($0)
endsnippet

snippet ehandler "Endpoint handler"
func $1(w http.ResponseWriter, r *http.Request) {
	$0
}
endsnippet
