snippet errp "err panic"
if err != nil {
	panic(err)
}
endsnippet

snippet ferr "if err"
if err != nil {
	$0
}
endsnippet

snippet pln "println"
fmt.Println($0)
endsnippet

snippet ehandler "Endpoint handler"
func $1(w http.ResponseWriter, r *http.Request) {
	$0
}
endsnippet

snippet mainf "main boilerplat"
package main

import "fmt"

func main() {
	$0fmt.Println("Hello World")
}
endsnippet

snippet pf "debug print statment"
fmt.Printf("$1: %+v", $0)
endsnippet	
