snippet desc
describe('$1', () => {
	$0
});
endsnippet

snippet it
it('$1', () => {
	$0
});
endsnippet

snippet fn
() => {$0}
endsnippet

snippet afn
async () => {$0}
endsnippet

snippet mountComponent
function mountComponent(overrides = {}) {
	return mount(
		<$0
		/>
	);
}
endsnippet

snippet ia
import $1 from '@root/agents.joinroot.com/src/$0';
endsnippet
