snippet cl
console.log($1);
endsnippet

snippet react-bootstrap
'use strict';

var React = require('react-native');
$0
endsnippet

snippet require
var ${1} = require('${0}');
endsnippet

snippet style
style={$0}
endsnippet

snippet react-tag
<${1:Tag} ${2}>
	$0
</$1>
endsnippet

snippet react-class
class ${1:ClassName} extends Component {
	render(){
		return (
			$0
		);
	}
}
endsnippet
