snippet func
def ${1:function_name}${2:(${3:*args})}
	$0
end
endsnippet

snippet script
#!/usr/bin/env ruby
$0
endsnippet

snippet opt_parser
OptionParser.new do |opts|
	opts.on('-h', '--help', 'Displays Help') do
		puts opts
		exit
	end
end
endsnippet

snippet opts
opts.on('-$1', '--$2', '$3') do
	$0
end
endsnippet
